<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Filmes Encontrados</title>
  </head>
  <body>
    <div class="div1">
      <h1 class="Titulo">Filmes Encontrados</h1>
      <form class="Form" action="/" method="get">
        <input
          type="text"
          name="movieName"
          placeholder="Digite o nome do filme"
        />
        <button class="tab" type="submit">Buscar</button>
      </form>
      <div class="div2">
        <ul class="ul">
          <!--------------------------------->
          <% if (filmes.length > 0) { %> <% for (let i = 0; i < filmes.length;
          i++) { %>
          <li class="li">
            <h2><%= filmes[i].title %></h2>
            <p>
              Data de lançamento: <%= filmes[i].release_date.substring(0, 4) %>
            </p>
            <p>Sinopse: <%= filmes[i].overview %></p>
          </li>
          <% } %> <% } else { %>
          <h1>Nenhum filme encontrado.</h1>
          <% } %>
          <!--------------------------------->
        </ul>
      </div>
      <% if (nPages > 1) { %>
      <div class="Pages">
        <h3>Páginas:</h3>
        <% for (let page = 1; page <= nPages; page++) { %>
        <a href="/?movieName=<%= movieName %>&page=<%= page %>"><%= page %></a>

        <% } %>
      </div>
      <% } %>
    </div>
    <!--busca-->
  </body>
</html>
